<figure class="figure">
    <img class="figure-img"
         src="https://imageio.forbes.com/specials-images/imageserve/5eee230831cecb00065c882d/picture-of-red-dice-spelling-word-risk/960x0.jpg?format=jpg&width=960"
         alt="Risk Dice" width="1400" height="500">

    <figcaption class="figure-caption">
        Sourced from <a href="https://www.forbes.com/sites/chuckswoboda/2020/06/22/in-business-as-in-life-the-greatest-risk-is-doing-nothing/?sh=74460a891828">
        https://www.forbes.com/sites/chuckswoboda/2020/06/22/in-business-as-in-life-the-greatest-risk-is-doing-nothing/?sh=74460a891828</a>
    </figcaption>
</figure>
<h2>Identifying Risk</h2>
<p>Project managers face different problems every day and they have to be able to think on their toes in
    order to solve all of the problems that arise. Risk are circumstances that happen that have a damaging effect on a project.
    When it comes to risk it is better to notice them in advance instead of later on when they are harder
    to fix or the risk costs more money than what is expected. It is beneficial for the project manager and
    the team to plan for risk so that they are prepared and know what is expected and how to react to the risk
    that comes up. Some of the risks that do come up can be minor problems and some of them can be really major
    or very severe where they cause a lot of problems or damage. As a project manager it is necessary to be able
    to identify, assess, and manage risk so that the project is not affected by what happens.
    As a project manager I want to be able to learn how to identify risk in agile project management.

</p>
<h2>What is Project Risk Management?</h2>
<p>Project risk management is very important in agile because as a project manager you want to be able to know about
    all of the things that could possibly go wrong on a project. If you know what could go wrong, then it is easier
    to prepare for it. As an agile project manager, you have to be able to adapt to any sudden change that can happen
    at the last minute. These changes are project risk which will have a negative effect on the project. The primary
    job of the project manager is to identify these problems, assess them and to manage the problems that occur.
    An example of a risk could be that you need money to buy for the project but do not have the funding for it and
    so you may have to ask for more money or find a cheaper alternative that might not be as good as what you wanted.
    If you choose to have a cheaper version than what you wanted, then it could possibly flop and not sell which would
    cause you to lose out on a lot of money.  Another example could be where you wanted a particular speaker to come
    and speak at an event, but the speaker gets sick, and you have to find someone else to come and speak. This is a
    situation that was not planned because it is unexpected which is why it is always best to have a backup.
    As a project manager if you do not have a backup plan then that will mean that the project will have to be postponed
    and there will be consequences or penalties or more fees. Another risk that a project manager could face is where the
    stakeholders want the project to be a particular way, but your team does not have the skills for doing it, which could
    cause a problem. The risk might delay the project longer because no one has the skills to fulfill the requirements,
    or you might have to find someone who has the skills to complete that part of the project.

</p>
<figure class="figure">
    <img class="figure-img"
         src="https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_retina/public/GettyImages-1343006928-1401x788-49696df.jpeg?itok=5BgyVhCG"
         alt="Risk Severity" width="1100" height="500">

    <figcaption class="figure-caption">
        Sourced from <a href="https://www.itprotoday.com/compliance-and-risk-management/what-it-risk-management#close-modal">
        https://www.itprotoday.com/compliance-and-risk-management/what-it-risk-management#close-modal</a>
    </figcaption>
</figure>
<h2>Ways to Identify Risk</h2>
<p>As a project manager it is always good to build a rapport with the stakeholders and the project team members, it helps
    everything to move forward more efficiently. Weekly meetings assist in helping the project manager to hear from various
    people and to be able to get their point of view on what and how the project should be done. Weekly or daily meetings also
    help everyone to be able to see and plan for the risk that might occur. As a team in project management, you should determine
    what is good and bad during a project and what are some ways that you can improve the project to make it better. As the leader
    of the project management team then it is a good habit to recognize all of your employees or team members for their accomplishments.
    If the project manager acknowledges the team members for the good things that they have done, then it will keep them motivated. T
    he team members will more than likely want to work for the project manager and will be happy to do it. As a project manager you and
    the team members should always look for ways to make improvements to the project to make it better. Another way to identify risk is
    to create a checklist of previous problems that have occurred and what was done to prevent or fix the problems. It is also good to look at tendencies that other
    companies have been met with to help you to be able to predict what problem may come up and how to fix the problem if it does happen.

</p>
<figure class="figure">
    <img class="figure-img"
         src="https://www.wallstreetmojo.com/wp-content/uploads/2023/02/Risk-Identification.jpg"
         alt="Risk Identity" width="1100" height="500">

    <figcaption class="figure-caption">
        Sourced from <a href="https://www.wallstreetmojo.com/risk-identification/">
        https://www.wallstreetmojo.com/risk-identification/</a>
    </figcaption>
</figure>
<p>As a project manager being able to identify risk is very important in order for a project to be successful.
    The project manager and the team members should be able to identify, assess and monitor risks that occur.
    The earlier that the team is able to identify any risk the better it will be. Identifying risk early aid in
    saving money by being able to fix the problem in a timely manner. Daily or weekly meetings help with getting
    different people’s perspectives, which aids the team in noticing problems that they might not have seen before.
    If you want a good team as a project manager, then it is good to give the team members recognition to motivate them.
</p>

<h2>Works Cited</h2>
<p id="citation-Schwalbe" class="citation-source">
    Schwalbe, K. (2018). Information Technology Management Project. Cengage.</p>
<p id="citation-Schwartz" class="citation-source">
    Schwartz , K. D. (2021, December 2). What Is IT Risk Management? From ITPro Today: https://www.itprotoday.com/compliance-and-risk-management/what-it-risk-management#close-modal
</p>
<p id="citation-Swoboda" class="citation-source">
    Swoboda, C. (2020). In Business, As In Life, The Greatest Risk Is Doing Nothing. From Forbes: https://www.forbes.com/sites/chuckswoboda/2020/06/22/in-business-as-in-life-the-greatest-risk-is-doing-nothing/?sh=74460a891828
</p>
<p id="citation-Wallstreetmojo" class="citation-source">
    Team, W. (2023, November 3). What Is Risk Identification? From Wallstreetmojo: https://www.wallstreetmojo.com/risk-identification/
</p>




