<h2>Introduction</h2>
<p>
	Within any Agile project, team members must communicate their thoughts to each other and compile a plan, whether that plan concerns the process itself (e.g. Sprint Planning, Sprint Retrospective, etc.) or is developmental in nature (e.g. solving an architectural problem).
</p>

<p>
	There are many different means over which that communication can be held, each of which poses its own benefits and complications: in-person meetings, virtual meetings, email, messaging, etc.. Here, we'll provide a comprehensive overview and juxtaposition of those means, analyzing their effectiveness in-depth with respect to four important factors: their conduciveness to problem solving, efficiency, the degree to which they promote engagement, and how well-suited they are  to process meetings.
</p>

<h2>Rapid, Collaborative Problem Solving</h2>
<figure class="figure my-4">
	<img
		class="figure-img col-lg-6"
		src="https://www.bryanbraun.com/assets/images/multitask2.jpg"
		alt="A diagram comparing the time required to multitask and the time required to multitask with context switching between tasks.">

	<figcaption class="figure-caption">
		<div class="text-light">
			Like an operating system's kernel swapping execution between open processes, humans switching from one task to another is costly. To mitigate this, select communication mediums that allow for uninterrupted, long-form discussion.
		</div>

		<div>
			Sourced from <a href="https://www.bryanbraun.com/2012/06/25/multitasking-and-context-switching/">https://www.bryanbraun.com/2012/06/25/multitasking-and-context-switching/</a>.
		</div>
	</figcaption>
</figure>

<p>
	Because the bulk of any software project–especially an Agile one, which emphasizes less planning and more doing–is spent problem solving–usually in a collaborative setting–encouraging means of communication that facilitate rapid problem solving should be highly prioritized by a project manager.
</p>

<p>
	Reaffirming this point, Lion van Koppenhagen, an Agile coach writes in an official LinkedIn article that email's discontinuous and return-to-it-later nature makes it a poor choice for implementing continuous feedback–a defining characteristic of Agile. Furthermore, the context switching it imposes is incredibly costly for employees, costing them 28% of their work time and forcing them to spend 64 seconds on average to regain focus after a thought process-interrupting email (<a href="#citation-koppenhagen">Koppenhagen</a>).
</p>

<p>
	Naturally some means lend themselves more naturally (i.e. with less effort or resistance) to rapid collaboration. For example, email is a notoriously ineffective mechanism for this, given its rapid context switching, lack of amenability towards conversational styles, and inflexibility when compared to the more versatile instant messaging and in-person meeting format.
</p>

<h2>Optimizing for Efficiency</h2>
<figure class="figure my-4">
	<img
		class="figure-img col-lg-6"
		src="https://www.wd-pl.com/wp-content/uploads/18-Deliberation-web1200.jpg"
		alt="&quot;The Thinker&quot; statue depicted staring at a maze.">

	<figcaption class="figure-caption">
		<div class="text-light">
			Weighing different communication mediums can feel very deliberative, especially when each one detriments productivity in its own way. It's important that product managers acknowledge those deficits and choose the option most tailored to their needs.
		</div>

		<div>
			Sourced from <a href="https://www.wd-pl.com/deliberation/"> https://www.wd-pl.com/deliberation/</a>.
		</div>
	</figcaption>
</figure>

<p>
	Another consideration of particular importance in a fast-paced project management framework is efficiency: how much was discussed and how much figured out in how much time? In-person meetings can be excellent for tossing ideas back and forth, as we've seen, but they also create hard blocks of unavailability in team members' schedules and detract from time that could've been spent developing the product. Likewise, emails necessitate rapid context-switching, which is detrimental to productivity when working on a focused, drawn out task.
</p>

<p>
	Torn between hosting intrusive meetings and sending emails that lower engineers' focus, product managers might be inclined to opt for a third option: instant messaging. Popular communication applications like Slack allow teams to recreate the asynchrony of email, without awkwardly using it for conversations (for which wasn't designed). Exercising prudence is necessary, though; technical writer Alex Omeyer from DEV Community advocates against frequent Slack usage, arguing that incessant notifications reduce productivity too (<a href="#citation-omeyer">Omeyer</a>).
</p>

<p>
	Given the negative implications for productivity of each communication medium, project managers should acknowledge that a one-size-fits-all approach to communication doesn't exist, and that different mediums are advantageous for different use cases. Holding long-form, complex conversations might require a meeting, whereas formally documenting shorter conversations might be best done over an email, and everyday discussions might best live on a workplace instant messaging platform.
</p>

<h2>Encouraging Engagement</h2>
<figure class="figure my-4">
	<img
		class="figure-img col-lg-6"
		src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Burning_match.jpg"
		alt="A finger holding a match burning in the dark.">

	<figcaption class="figure-caption">
		<div class="text-light">
			Although meeting regularly to plan and work through problems is a prerequisite to kindling the fire of any successful project, scheduling directionless meetings or too many meetings can extinguish that fire, causing burnout.
		</div>

		<div>
			Sourced from <a href="https://commons.wikimedia.org/wiki/File:Burning_match.jpg">https://commons.wikimedia.org/wiki/File:Burning_match.jpg</a>.
		</div>
	</figcaption>
</figure>

<p>
	With many communication options, it can be easy for team members to feel swarmed with notifications, calendar events, and a slew of emails waiting to be acknowledged. Oftentimes, this can cause disengagement and so-called “meeting burnout”, where members become overwhelmed with interaction and starved for autonomy.
</p>

<p>
	LivePlan's blog reaffirms the existence of meeting burnout, adding that they “provide the illusion of progress while actually depriving the company of time that could be spent in valuable ways”. To solve the issue and boost engagement, they advocate for making meetings more focused. Establishing clear goals beforehand, enforcing succinctness, and walking away with well-defined action items are three tactics they hone (<a href="#citation-alexandra">Alexandra</a>).
</p>

<h2>Conclusion</h2>
<p>
	Although most information is capable of being transmitted among a collective over most communication mediums, each displays its own strength and weaknesses and optimizes for different criteria (e.g. brevity, amenability to multitasking, and ease of use). Because project managers are often responsible for facilitating get-togethers in a software team, it's crucial that they not take that responsibility lightly and prioritize the productivity of their team with respect to the project's requirements.
</p>

<p>
	The findings in this post indicate that email is usually well suited to less back-and-forth and more one-time conversations that need to be well documented. Because emails need not be responded to immediately, teams will find them to be especially flexible. Nonetheless, that flexibility is priced; email tends to be less engaging and forcing complex discussions into an email format is usually met with resistance. For that, in-person or virtual meetings are optimal. The efficiency of verbal communication paired with the unparalleled focus of hashing things out one-on-one allows meetings to be incredibly brief. However, they often aren't, and it's common for project managers to unknowingly abuse the ease of scheduling them while not acknowledging their high cost.
</p>

<p>
	If neither email nor meeting suffices, instant messaging platforms like Slack serve as a great default, providing a unified space to house information and conversations, while allowing threads to be easily replied to and linked. Note that engineers should be encouraged to minimize the frequency of notifications on these platforms, since the flurry of activity they tend to stir up can be a detrimental distraction.
</p>

<h2>Works Cited</h2>
<p id="citation-alexandra" class="citation-source">
	Alexandra, Kayleigh. “5 Proven Ways To Increase Engagement In Team Meetings.” LivePlan, 3 September 2021, https://www.liveplan.com/blog/increase-team-meeting-engagment/. Accessed 27 October 2023.
</p>

<p id="citation-koppenhagen" class="citation-source">
	Koppenhagen, Lion van. “Why Email is ineffective for Agile communication.” LinkedIn, 2 May 2019, https://www.linkedin.com/pulse/why-email-ineffective-agile-communication-lion-van-koppenhagen/. Accessed 27 October 2023.
</p>

<p id="citation-omeyer" class="citation-source">
	Omeyer, Alex. “How To Reduce Context Switching as a Developer.” DEV Community, 16 September 2021, https://dev.to/alexomeyer/how-to-reduce-context-switching-as-a-developer-1hnn. Accessed 27 October 2023.
</p>
