<h2>Managing Project Communications</h2>

<p>As an agile project manager when in charge of a team it is always good to have communication with everyone.
    If you communicate with your team on a regular basis, then it will prevent your team from having any
    misunderstandings within your team and that is something that you want to avoid at all costs. In agile
    project management you are constantly in communication with the stakeholders and your team, which helps
    the project to flow easily because everyone is in the know or is working together as one. As an agile
    project you have to determine what is the best way to send and receive information to your team.
    Sometimes the best way to communicate with your team is that you might have to send an e-mail, have a
    telephone conference, or have a video conference because everyone is working on other parts of the
    project that may require them to be away. You might have an instance where someone could be out on a
    job and cannot be at a meeting in person on time so you would want to accommodate them especially if
    it is really important information that everyone needs to have. Another good habit to have as a project
    manager is to identify capabilities that your team has so that you can understand what is essential for
    the team to be able to succeed. When working in a team with diverse people they all have different qualities
    because you might have someone that needs to be there in person working on the project. You might also have
    someone on your team who is a doer meaning they are a hands-on type of person and have a need to do.
    You might have a person who may need to see.</p>


<h2></h2>

<figure class="figure">
    <img class="figure-img"
         src="https://business.adobe.com/blog/basics/media_10f74396e917cdacca22192d44740aac592a4ac68.jpeg?width=2000&format=webply&optimize=medium"
         alt="Video Conference" width="1400" height="500">

    <figcaption class="figure-caption">
        Sourced from <a href="https://business.adobe.com/blog/basics/media_10f74396e917cdacca22192d44740aac592a4ac68.jpeg?width=2000&format=webply&optimize=medium">
        https://business.adobe.com/blog/basics/media_10f74396e917cdacca22192d44740aac592a4ac68.jpeg?width=2000&format=webply&optimize=medium</a>
    </figcaption>
</figure>

<h2>What is Project Communication Management?</h2>
<p>Project Communication Management is a way for the project manager, the team, and all of the people that
    are stakeholders to have the information that is vital to know to be able to connect with each other.
    Project communications management is also a way for everyone to be able to see what is being done in a
    timely manner. There are various ways for everyone to be able to see what is being done and that depends
    upon what tools or technology is being used for the information to be distributed amongst the team.
    So, some of the steps in project communication management are to plan, manage and control communications. </p>

<figure class="figure">
    <img class="figure-img"
         src="https://kissflow.com/hs-fs/hubfs/Project-Communication-process-steps.jpg?width=1200&name=Project-Communication-process-steps.jpg"
         alt="Steps to Project Communication" width="1100" height="500">

    <figcaption class="figure-caption">
        Sourced from <a href="https://kissflow.com/project/communication-in-project-management/">https://kissflow.com/project/communication-in-project-management/</a>
    </figcaption>
</figure>

<h2>Manage Project Communication</h2>
<p>As a project manager, when you are managing project communication you have to first come up with a plan.
    The first step in coming up with a plan is to figure out what is the best way for your team to communicate
    with each other. Once it has been decided which way is going to be used to communicate with everyone that is
    involved with the project then you will have to manage the process by making sure that everything goes smoothly.
    When managing project communications, everything must be placed in the right format for everyone to have access
    to all information at any given moment. As the project manager you have to determine when the information will
    be provided to everyone involved with the project and how often you want to disseminate the information whether
    that is weekly or monthly. The project manager also has to determine if it is better to have a formal report done
    or an informal debrief of the information on the project. There will need to be performance reports so that everyone
    knows what needs to be done to complete the project and what are some of the ways to improve the project. The performance
    reports allow you as the project manager to talk to the stakeholders and to distinguish if their requirements have been
    met or fulfilled. If not, then that tells you that you have to go back and redo it again. As a project manager in order
    to manage project communication you should always be able to think on your feet and be able to solve all of the problems
    that may come up. </p>

<figure class="figure">
    <img class="figure-img"
         src="https://web-static.wrike.com/cdn-cgi/image/format=auto,quality=80,width=1016,dpr=1/tp/storage/uploads/765eca18-00c9-44a6-b8f3-e8a5cdb612ed/how-to-use-sales-department2x.png"
         alt="Messages" width="800" height="700">

    <figcaption class="figure-caption">
        Sourced from <a href="https://www.wrike.com/project-management-guide/faq/what-is-project-communication-management/">https://www.wrike.com/project-management-guide/faq/what-is-project-communication-management/</a>
    </figcaption>
</figure>

<p>If the project manager is able to manage project communication, it helps everything to run smoothly with no problems.
    If there are problems, then they can be easily fixed because it was something that was planned or thought about
    previously within the project. As long as everyone that is involved with the project is in communication and the
    information is easily accessible then it helps the project to be a success. As an agile project manager, you will
    need to be prepared for many changes and you have to make sure that everyone on your team receives the changes and
    understands what was sent to them from you or other project team members. </p>

<h2>Works Cited</h2>
<p id="citation-Adobe" class="citation-source">
Adobe. (2023, October 27). Communications Management.
    Retrieved from Adobe: https://business.adobe.com/blog/basics/communications-management#:~:text=There%20are%203%20primary%20steps,Control%20communications</p>
<p id="citation-Kissflow" class="citation-source">
    Kissflow. (2023, October 28). The Importance of Communication in Project Management.
    Retrieved from Kissflow: https://kissflow.com/project/communication-in-project-management/</p>
<p id="citation-Schwalbe" class="citation-source">
Schwalbe, K. (2018). Information Technology Management Project. Cengage.</p>
<p id="citation-Wrike" class="citation-source">
What Is Project Communication Management? (2023, October 28).
    Retrieved from Wrike: https://www.wrike.com/project-management-guide/faq/what-is-project-communication-management/</p>