<h2>What Is Scope Creep?</h2>
<p>
	Scope creep is a widespread issue experienced in project management and a notorious project killer–it's when a project's requirements vastly exceed its originally defined scope, and can be caused by a multitude of bad judgment calls. In the context of software development, scope creep can be caused by an attempt at technical debt reduction–in which engineers take on more than what was originally requested of them to increase future project velocity (usually by rearchitecting outdated system(s)), demands imposed ex post facto by stakeholders, time mismanagement, etc..
</p>

<p>
	Because the time and resources allotted for a project are limited, it's important to limit the features, alternations, and broader engineering endeavors that constitute a project, so as to ensure the project is completed in a timely manner. Although this may occasionally mean cutting corners, an on-time, no surprises project is usually preferred over a late or never completed, yet batteries included one. As we'll cover, preventing scope creep requires restraint on behalf of both project managers and engineers, but especially the former, who are charged with balancing the project's requirements against each other and budget.
</p>

<figure class="figure my-4">
	<div class="d-flex justify-content-center">
		<img
			class="figure-img col-lg-6"
			src="https://images.theconversation.com/files/122023/original/image-20160511-23446-w6sa9v.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1000&fit=clip"
			alt="Microscope image of cancerous cells.">
	</div>

	<figcaption class="figure-caption">
		<div class="text-light">Like a cancerous cell, scope creep can progress exponentially (“Because we need this, we should add this. But then, we're obligated to add this, etc.”).</div>
		<div>
			Sourced from <a href="https://theconversation.com/catching-metastatic-cancer-cells-before-they-grow-into-tumors-a-new-implant-shows-promise-57528">https://theconversation.com/catching-metastatic-cancer-cells-before-they-grow-into-tumors-a-new-implant-shows-promise-57528</a>
		</div>
	</figcaption>
</figure>

<h2>Examples of Scope Creep</h2>
<p>
	To highlight the disastrous consequences, yet good intentions underpinning scope creep, we cite a few examples of major projects in the public and private sectors–not necessarily lying in the context of software–adversely affected or even shut down by scope creep.
</p>


<h3>Denver International Airport's Automated Baggage-Handling System</h3>
<p>
	According to Forbes Magazine, Denver International Airport embarked on an initiative in the 1990s to implement an automated baggage processing system, which experts in the field warned would balloon in scope due to countless missing requirements (<a href="#citation-rudder">Rudder</a>). Indeed, over 2,000 expansions to the initiative's initial plans were made, which caused it to be “finished” (really, scrapped) 16 months behind schedule and over half a billion dollars over budget.
</p>

<p>
	In this case, scope creep arose from a lack of planning, rather than overambition or unnecessarily added requirements. Had the airport planned the project more thoroughly and realistically, limiting it in scope and adjusting its budget in a confrontation of the reality of its difficulty, the project might've been completed as expected.
</p>


<h3>Private Jet Hangars</h3>
<p>
	As another real-world example of scope creep, consider an anecdotal article provided by a writer at TechRepublic in which they recall working for a private jet charter company to build a new jet hangar. According to the author, the hanger didn't have any sort of telephone wiring until 60 days before the project's completion because the contractors with which he was working neglected to communicate with each other and him about the status of the wiring.
</p>

<p>
	Because the contractor and their subcontractors falsely relied on various assumptions about the project's completion and whose responsibility it was to embark on the wiring task, both parties were forced to explain to the customer that phone access would cost extra, damaging the company's reputation and angering the customer in an avoidable manner. Of course, this reinforces the idea that proper planning is one effective scope creep deterrent.
</p>

<figure class="figure my-4">
	<div class="d-flex justify-content-center">
		<img
			class="figure-img col-lg-8"
			src="https://www.publicdomainpictures.net/pictures/180000/velka/rue-pavee-.jpg"
			alt="Cobblestone path photo.">
	</div>

	<figcaption class="figure-caption">
		<div class="text-light">A project suffering from scope creep, despite the grandeur visions of its originators, is often cobbled together to satisfy overpromises.</div>
		<div>
			Sourced from <a href="https://www.publicdomainpictures.net/en/view-image.php?image=170048&picture=cobblestone">https://www.publicdomainpictures.net/en/view-image.php?image=170048&picture=cobblestone</a>
		</div>
	</figcaption>
</figure>

<h2>Defining Scope</h2>
<p>
	Managing project scope, as we've seen thus far, can take the form of setting explicit boundaries concerning the project's objectives before it has begun. Oftentimes, these are formalized in a project scope statement–an all-purpose document outlining the project's deadline, those responsible for its various components, its deliverables, and even out-of-scope items (<a href="#citation-project-scope-statement">“Using a Project Scope Statement to Prevent Scope Creep”</a>).
</p>

<p>
	In addition to the broader project scope statement, project managers can opt to devise a work breakdown structure (WBS): a more detailed diagram of projects' deliverables, their constituent components, those components' requirements, and so on in a hierarchical manner. By deliberately musing beforehand on the dependency graph a project might take on, PMs can employ a Waterfall-like approach to scope creep mitigation, compiling resources that can be almost constitutionally referenced later on to strike down infringements on project scope before they wreck the project's timeliness (<a href="#citation-raeburn">Raeburn</a>).
</p>

<figure class="figure my-4">
	<div class="d-flex justify-content-center">
		<img
			class="figure-img col-lg-8"
			src="https://assets.asana.biz/transform/20a32989-6635-4d1f-8e16-0d26960fcfff/inline-project-management-work-breakdown-structure-1-2x?io=transform:fill,width:1680&format=webp"
			alt="Work breakdown structure diagram.">
	</div>

	<figcaption class="figure-caption">
		<div class="text-light">Visualizing the basic structure of a work breakdown structure.</div>
		<div>
			Sourced from <a href="https://asana.com/resources/work-breakdown-structure">https://asana.com/resources/work-breakdown-structure</a>
		</div>
	</figcaption>
</figure>

<h2>Recognizing Scope Creep</h2>
<p>
	Although we've thus far outlined the steps to preventing scope creep, how can a project's participants recognize and eliminate scope creep after it's already arisen? According to Coursera, two steps ought to be taken (<a href="#citation-what-is-scope-creep">“What Is Scope Creep? Keeping Your Project Focused”</a>):
</p>

<ul>
	<li>
		<strong>Anticipate the consequences of the scope creep at hand.</strong> How might it affect the project–specifically, its completeness, timeliness of completion, and the customer's satisfaction with its operation. Ultimately, judgements cannot be made regarding additions to a project's scope without first reasoning about their effects.
	</li>

	<li>
		<strong>Weigh those consequences against the project's original requirements.</strong> Deciding whether to take on a new feature, piece of technical debt reduction, or any significant engineering effort requires prioritizing the original, agreed upon requirements of the project. Scope expansion cannot be justified without a reasonable guarantee that requirements will be satisfied and obligations tended to.
	</li>
</ul>

<figure class="figure my-4">
	<div class="d-flex justify-content-center">
		<img
			class="figure-img col-lg-8"
			src="{{ url_for('static', filename='images/weighted_scale.jpg') }}"
			alt="Weighted scale photo.">
	</div>

	<figcaption class="figure-caption">
		<div class="text-light">Additions to scope should be weighed against original requirements.</div>
		<div>
			Sourced from <a href="https://pixnio.com/objects/scales-of-justice">https://pixnio.com/objects/scales-of-justice</a>
		</div>
	</figcaption>
</figure>

<h2>Works Cited</h2>

<p id="citation-raeburn" class="citation-source">
	Raeburn, Alicia. “Work Breakdown Structure (WBS): What Is It? [2023] • Asana.” Asana, 9 December 2022, https://asana.com/resources/work-breakdown-structure. Accessed 24 September 2023.
</p>

<p class="citation-source">
	“Real world example of scope creep.” TechRepublic, TechnologyAdvice, 21 June 2008, https://www.techrepublic.com/article/real-world-example-of-scope-creep/. Accessed 24 September 2023.
</p>

<p id="citation-rudder" class="citation-source">
	Rudder, Alana. “Scope Creep: Definition, Examples & How To Prevent It.” Forbes, Forbes Media LLC, 25 August 2022, https://www.forbes.com/advisor/business/scope-creep/. Accessed 24 September 2023.
</p>

<p id="citation-project-scope-statement" class="citation-source">
	“Using a Project Scope Statement to Prevent Scope Creep.” Motion, 21 September 2023, https://www.usemotion.com/blog/project-scope-statement. Accessed 24 September 2023.
</p>

<p id="citation-what-is-scope-creep" class="citation-source">
	“What Is Scope Creep? Keeping Your Project Focused.” Coursera, 15 June 2023, https://www.coursera.org/articles/what-is-scope-creep. Accessed 24 September 2023.
</p>
