<h2>Introduction</h2>
<p>
	Any project–either software-related or non-software-related–is susceptible to risk–possibly foreseen setbacks or complications in that projects budget, schedule, or the degree to which it meets its requirements. In the context of software, Agile projects are especially risky by design, since they sacrifice upfront planning and risk mitigation in the name of last minute adaptation and improvisation.
</p>

<p>
	Risk management is a discipline of project management concerning itself with mitigating risk. Divided into two subdisciplines–qualitative and quantitative–it enumerates various strategies that enable project managers to combat risk, bolstering the predictability of their projects delivery, and ensuring all goes according to plan. As the name suggests, quantitative risk management employs numerical and statistical methods to estimate risk, whereas qualitative risk management “descriptive scales, for example, [rating] potential risks as either high, medium or low based on how likely they are to occur”, according to Indeed (<a href="citation-risk-analysis">“Quantitative Risk Analysis: What It Is and How To Use It”</a>).
</p>

<h2>What Is Risk?</h2>
<figure class="figure my-4">
	<img
		class="figure-img col-lg-6"
		src="https://jexo.io/content/images/2021/04/risk-management-assessment-matrix.png"
		alt="A risk-matrix in a financial setting.">

	<figcaption class="figure-caption">
		<div class="text-light">
			Risk matrices are easily understood visualizations of risks' expected probability and impact.
		</div>

		<div>
			Sourced from <a href="https://jexo.io/blog/ppm-glossary-risk-management/">https://jexo.io/blog/ppm-glossary-risk-management/</a>.
		</div>
	</figcaption>
</figure>

<p>
	The Project Management Institute defines risk as “…an uncertain event or condition that, if it occurs, has a positive or negative effect on one or more project objectives such as scope, schedule, cost, and quality” (<a href="#citation-meyer">Meyer</a>). This definition may seem broad, and while it is true that risk can take on many forms, all of which can have equally turbulent effects on a project, quantitative risk management attempts to tackle risk categorically, assigning dimensions and characteristic factors to it that can help to predict and minimize its impact.
</p>

<p>
	Its important to note that risk is not inherently bad, and that it is often purposefully undertaken by stakeholders because of its potentially positive reapings. Oftentimes, taking on risk can yield a high-probability expected reward at the cost of a low-probability setback, which is beneficial if that reward is substantial.
</p>

<p>
	Remember when we said that Agile projects are especially risky? While that is true, Waterfall projects are equally risky, albeit they suffer from a different type of risk. Generally, risk can be measured on two scales: probability and severity. While the former describes the likelihood of the risk occurring, the latter describes the impact of that risk assuming it does happen. Together, these estimations quantify the risks estimated impact–a direct indicator of how much resources should be dedicated to mitigating the risk.
</p>

<h2>Risk Estimation Techniques</h2>
<figure class="figure my-4">
	<img
		class="figure-img col-lg-6"
		src="https://www.investopedia.com/thmb/7vLrXd2EyTMNP60Rw275eQDQBFc=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/dotdash_final_Using_Decision_Trees_in_Finance_Jan_2021-01-7c07b9930682431da3124efa5d4b10c4.jpg"
		alt="People running towards a Target on an arrow mattern (-0.5 points)">

	<figcaption class="figure-caption">
		<div class="text-light">
			An illustration of a decision tree being used in a financial scenario.
		</div>

		<div>
			Sourced from <a href="https://www.investopedia.com/articles/financial-theory/11/decisions-trees-finance.asp">https://www.investopedia.com/articles/financial-theory/11/decisions-trees-finance.asp</a>.
		</div>
	</figcaption>
</figure>

<p>
	At the heart of quantitative risk management is risk estimation–using models to assign numerical values to the components of risk. Perhaps the most trivial risk estimation technique is constructing risk matrices–visualizations of the consequences of varying levels of probability and impact (<a href="#citation-risk-analysis-methods">“5 Risk Analysis Methods and How To Use Them”</a>). Although the risk matrix is high telling, actually deriving values for each cell is incredibly tedious and often error-prone due to how biased and poor at estimation humans are.
</p>

<p>
	If more accuracy and/or ease of use is desired, a decision tree may be best. Decision trees are more analogous to how people naturally think about risk, and have the added benefit of uncovering different “layers” of risk. Constructing a decision tree is simple: list each possible decision for a risk-prone subject, those decisions arising from each possible decision, etc.. Then, assign risk ratings to each decision, recording the probability of each decision being made given the previous decision. Using this approach, the “hot” path–that is, the decision path of highest probability–can be tackled first, yielding the greatest improvements in the risk of the project.
</p>

<h2>Interpreting the Data</h2>
<p>
	Once risk has been identified and measured, companies can realign their efforts to mitigating said risk. Usually, this involves divesting in mitigating smaller risks and investing more resources (time, money, etc.) into preventing top risks. By leveraging the results of risk analysis and focusing on reducing the greatest contributors to risk, companies can minimize the potential for damage to their business.
</p>

<h2>Conclusion</h2>
<p>
	Any successful project will involve mitigating risk–unforeseen circumstances that draw out the cost, schedule, and/or fulfillment of the requirements of the project. Preventing that risk can take two forms: qualitative and quantitative. While the former takes a more traditional project management style-approach to estimating the impact of risk, the latter is entirely numeric and far more objective. Nonetheless, it can be difficult to construct the detailed estimations demanded by quantitative risk analysis, which is why companies often employ a fusion of both approaches in their arsenal of risk mitigation.
</p>

<h2>Works Cited</h2>

<p id="citation-risk-analysis-methods" class="citation-source">
	“5 Risk Analysis Methods and How To Use Them.” Indeed, 10 March 2023, https://www.indeed.com/career-advice/career-development/risk-analysis-methods. Accessed 5 November 2023.
</p>

<p id="citation-meyer" class="citation-source">
	Meyer, Werner G. “Quantifying risk.” PMI, 10 October 2019, https://www.pmi.org/learning/library/quantitative-risk-assessment-methods-9929. Accessed 5 November 2023.
</p>

<p id="citation-risk-analysis" class="citation-source">
	“Quantitative Risk Analysis: What It Is and How To Use It.” Indeed, 24 June 2022, https://www.indeed.com/career-advice/career-development/quantitative-risk-analysis. Accessed 5 November 2023.
</p>
