<h2>Software that can be used to help with Project Quality Management within Agile</h2>
<p>
    When working on a project most people want everything to work out fine and to go as planned.
    As a project manager you would like to produce a good quality of work for your customers.
    At times that can be hard to do, which is why you keep trying until you get it right or at least meet the expectations of the customer.
    The customer might want their product a certain way but as a team you always want to go above and beyond to produce a better quality
    than what was asked of you in the beginning initially from the customer.
    The process of redoing something all over again or going to the last known working part of an assignment can be tedious, but you end
    up being satisfied with the end result. At the end of it all you start to realize that your hard work did pay off and that it was well worth it.
    If you have a good mindset, it makes you want to keep doing it over again because of the feeling that you felt when you have accomplished something.
    Like they always say “Practice makes perfect” which means the more you do it the better you will get which helps you to produce good quality and get the results that you want or need.
    So, some of the things that I am going to talk about are what is project quality management, and what types of software or tools that can be used in project quality management to help within agile project management.
</p>
<h2>What is Quality Management?</h2>
<p>
    Quality management is where you are always thinking of ways to make improvements to the project and then implementing them.
    You are always working with your team and discussing how to make it better and what caused the project to fail.
    As an agile project manager, you and your team have to be able to make changes at any given moment to satisfy the customer’s needs.
    As an agile project manager, you are also engaging with the customer and trying to understand what it is that they want and to meet
    their requirements. Throughout the project the project manager and the team are constantly inspecting, reviewing, and testing the
    products to make sure that they are on par with the specifications that the customer has given or set.
    The more that the product or software is tested then the team is able to assess what needs to be done to improve and make it better.
</p>

<figure class="figure">
    <img
            class="Jira"
            src="https://wac-cdn.atlassian.com/dam/jcr:487cc8a0-55e5-47b6-8cc0-882d8e3d85e6/JSM_MakeVisible.png?cdnVersion=1261"
            alt="Jira">

    <figcaption class="figure-caption">
        Sourced from <a href="https://www.atlassian.com/software/jira/service-management?&aceid=&adposition=&adgroup=137478835894&campaign=17732529742&creative=666334979009&device=c&keyword=jira%20service&matchtype=p&network=g&placement=&ds_kids=p72053977351&ds_e=GOOGLE&ds_eid=700000001721198&ds_e1=GOOGLE&gad=1&gclid=Cj0KCQjwm66pBhDQARIsALIR2zAmsz-rAqsN7j-gWyaRCAV0vwK0Cjb5YoorweboGFJHmG7935yQLmcaAggqEALw_wcB&gclsrc=aw.ds ">
        https://www.atlassian.com/software/jira/service-management?&aceid=&adposition=&adgroup=137478835894&campaign=17732529742&creative=666334979009&device=c&keyword=jira%20service&matchtype=p&network=g&placement=&ds_kids=p72053977351&ds_e=GOOGLE&ds_eid=700000001721198&ds_e1=GOOGLE&gad=1&gclid=Cj0KCQjwm66pBhDQARIsALIR2zAmsz-rAqsN7j-gWyaRCAV0vwK0Cjb5YoorweboGFJHmG7935yQLmcaAggqEALw_wcB&gclsrc=aw.ds
    </a> by Jira
    </figcaption>
</figure>
<h2>Software</h2>
<p>
    Some people may struggle trying to keep track of their daily task and the quality of what the project is supposed to be, so they have created software to help out with it.
    There are several different types of software that a project manager can use to help with project quality management.
    One of the software that helps with project quality management is Jira, which allows the project management team to be able to track what is going on with each part of the project.
    It also allows everyone to see what the different team members are doing and how much do they have left to do with the project.
    If a project manager or team likes a more graphic system, then they are able to use Trello which allows them to create cards and move them around in order show what point the project is at.
    Another software to use is Microsoft Azure DevOps which allows teams to maintain the backlog items and to be able to create Kanban boards.
    Microsoft Azure also allows teams to be able to use built-in testing and release management capabilities which helps with testing and deployment to make sure that the team produces good quality.
    There is also TestRail which is a test management tool which helps the team to organize, track and manage their testing.
    It allows the team to be able to see what has happened throughout the testing process and be able to have a report to show in team meetings.
    Another one is called Jenkins, which is an automation server which is used for being able to constantly make changes and ensuring that the build and code is correct.
    Another software to use for quality management is MasterControl. It enables the team to be able to make changes to the documents and it makes it where there are not any errors from when someone is entering the information into the system.
    If you work in a plant, then there is Plex for quality management automates task and makes it where there are not any errors and allows the plant floor and the people in management to communicate with each other better.
    The upper management is able to get the results of the quality of the products immediately and it saves time.
    Plex alleviates some of the risk so that there are not as many that are taken, and that the product is of superior quality.
    It protects the company or product from looking bad and remains intact without any flaws.
    It shields the company from having to go to court and having to face a lawsuit which I am pretty sure no one wants to go to court if you do not have to.
    Plex is able to find who did it and lets the company know who they would need to talk to and get answers from that person.
</p>

<p>
    The project manager and the team are always working together to give the best that they can give.
    The team is continuously making changes to improve the products that are being made throughout the process of the project.
    The project manager and the team are constantly talking about what was created and ways to make it better.
    The different software’s that you can use as a project manager or team all help you to be able to organize, track, test and reports and to help create different reports, which helps the process go a lot smoother.
    The different software also aids in helping the team to make changes at the last minute and to make them continuously if necessary.
</p>


<h2>Works Cited</h2>
<p id="citation-francom" class="citation-source">
    (2023, October 14). Retrieved from Rockwell Automation: https://www.plex.com/manufacturing-execution-system-capterra?utm_source=Capterra&utm_medium=cpc&utm_campaign=FY23_CapterraMES_ContactUs&campaigni=7012T0000049orBQA

<p id="citation-leonard" class="citation-source">
Demo The #1 Quality Management System. (2023, October 14). Retrieved from MasterControl: https://kanbanize.com/agile/project-management/estimation#:~:text=In%20the%20broad%20sense%20of,a%20given%20development%20work%20item.>.</p>

<p id="citation-nichols" class="citation-source">
    Gantayat, S. (2022, February 16). Everything You Need to Know About Quality Management in Agile. https://agilemania.com/quality-management-in-agile</p>

<p id="citation-schwartz" class="citation-source">
    Schwartz, Brenna. “Project Cost Estimation: How to Estimate Project Cost.” ProjectManager, 25 April 2023, https://www.projectmanager.com/blog/cost-estimation-for-projects. Accessed 8 October 2023.
</p>