<h1>Cost Control in Agile Project Management</h1>

<p>Controlling costs in agile project management is very important because it determines if a project can be successful or not.
    In agile project management you have to make sure that the customer is always happy because if they are not happy, they may
    decide not to use your services again. As a project manager you have to make sure that you keep the cost to a minimum but
    also keep in mind that you want a product that is of good quality. When it comes to agile you have to be prepared for many
    changes in case the customer does not like what was produced. The customer could like the product but would like to make
    additional changes.
    </p>
    <p>When you are a project manager you will have to think about your budget and ways to be able to control how the money is being spent.
        There will be times when you will go over your budget by spending more money than what is required.
        There might not be enough money to do what you as a project manager envisioned for the project.
        Over time you will learn to deal with more of these types of issues as you gain more experience.
        So, I am going to talk about what is cost control, and some ways to help to control the cost, some tools, or techniques to help.

</p>

<h1>What is cost control?</h1>
<p>Cost control is knowing how much the project is going to cost and being able to devise a plan on where you want to spend money
    and how much money you want to spend. Cost management helps to keep the team from spending too much money and going over the
    amount that was allocated to spend for the budget. When there are changes that need to be made then you must account for the
    cost of the changes made to the budget and compare it to the cost that you thought that it would be initially. You will have to
    take note that if the changes that were made on if they cost the company more or less than what the team anticipated. After you
    have calculated the cost then you must inform the stakeholders and anyone who has anything to do with the project so that they
    may know of the changes and for them to be prepared in case of any problems or changes that could arise.
</p>

<h1>Ways to Help Control Cost Control</h1>
<p>If a project manager is struggling to be able to control costs, then it is good to always have a budget.
    A budget helps a project manager to stay within a limit and not go over the amount that is set.
    If a project manager oversees the budget closely then they are able to adapt to changes more efficiently.
    The top priority for controlling the cost is how much money were you given so that you can stay within the budget.
    In order to control costs as a project manager you will definitely need to plan out how you are going to spend the money on the project.
</p>

<h1>Tools or Techniques that are used to Help with Cost Control</h1>
<p>A tool that companies have started to use is time tracking software.
    Time tracking software helps the project management team to know what they are doing and where they are spending their time at.
    It lets the team know if they are having distractions that are keeping them from doing their work.
    It lets the team know when there is a problem that might have taken longer than necessary, and they can try to come up with ways
    to do better. Another tool to use is reporting and analytics, which helps the team to be able to keep track of the project and know
    what everyone is doing. Reporting and analytics also help to let everyone know what has been spent and how much more money is left to spend.
</p>
<figure class="figure">
    <img
            class="Project Management Software"
            src="https://www.smartsheet.com/sites/default/files/styles/1300px/public/2022-07/lodestar-device-cluster-med-fi-not-cropped.webp?itok=HalyU_CE"
            alt="SmartSheet">

    <figcaption class="figure-caption">
        Sourced from <a href="https://www.smartsheet.com/s/agile-project-software?s=1&c=3&m=443&a=49039029547&k=agile%20project%20management&mtp=p&adp=&net=g&dev=c&devm=&plc=&cq_src=google_ads&cq_cmp=127975867&cq_con=14025337267&cq_term=agile%20project%20management&cq_med=&cq_plac=&cq_net=g&utm_source=google&utm_medium=paid-search&utm_campaign=127975867&utm_content=49039029547&utm_term=agile%20project%20management&_bt=49039029547&_bk=agile%20project%20management&_bm=p&_bn=g&_bg=14025337267&gad=1&gclid=CjwKCAjwg4SpBhAKEiwAdyLwvOkPN42WKPbPxFq7lLN8FzFGFQ7aAOa4s3JsQ7OlhQE8rO8Ry0bKMRoCyIYQAvD_BwE ">
        https://www.smartsheet.com/s/agile-project-software?s=1&c=3&m=443&a=49039029547&k=agile%20project%20 management&mtp=p&adp=&net=g&dev=c&devm=&plc=&cq_src=google_ads&cq_cmp=127975867&cq_con=14025337267&cq_term=agile%20project%20management&cq_med=&cq_plac=&cq_net=g&utm_source=google&utm_medium=paid-search&utm_campaign=127975867&utm_content=49039029547&utm_term=agile%20project%20management&_bt=49039029547&_bk=agile%20project%20management&_bm=p&_bn=g&_bg=14025337267&gad=1&gclid=CjwKCAjwg4SpBhAKEiwAdyLwvOkPN42WKPbPxFq7lLN8FzFGFQ7aAOa4s3JsQ7OlhQE8rO8Ry0bKMRoCyIYQAvD_BwE </a> by SmartSheet
    </figcaption>
</figure>
<p>Another tool to help to use is project performance measurement which is where the team decides a plan and tries to stick to it as
    much as possible. But sometimes it does not always happen like that so they have thought about what problems could possibly happen
    and to prepare for them. By doing this they are ensuring that they keep the team on track. The project management team hopes that
    there will be no problems because if there are then sometimes, they can be time-consuming. If the project takes up more time than
    what is expected, then it can mess up other parts of the project that needed that part to be done before they could move on.
    So, it is best to make short term goals, that way they are easier to complete instead of planning out a whole project from beginning
    to end. One of the tools that is used to help with project performance measurements is burndown charts. Burndown charts aid everyone
    in being able to see what is being done with the project and to see what progress has been made throughout the entire project.
    Burndown charts help so that there is not any miscommunication and there is not any misunderstanding throughout the project.
</p>
<figure class="figure">
    <img
            class="Burndown Chart"
            src="https://unichrone.com/blog/wp-content/uploads/Sprint-Burndown-Chart-1.jpg"
            alt="Burndown Chart">

    <figcaption class="figure-caption">
        Sourced from <a href="https://unichrone.com/blog/agile/sprint-burndown-chart/">
        https://unichrone.com/blog/agile/sprint-burndown-chart/ </a> by Jenny Jones
    </figcaption>
</figure>
<h1>Works Cited</h1>

<p id="citation-Carr" class="citation-source">
    Carr, P. (2019, December 16). Agile Project Cost Management. Retrieved from Project Leadership:
    https://projectleadershipwaterloo.wordpress.com/2019/12/16/agile-project-cost-management/
</p>

<p id="citation-Schwalbe" class="citation-source">
    Schwalbe, Kathy. Information Technology Management Project. Boston: Cengage, 2019.
</p>

<p id="citation-wrike" class="citation-source">
    Drive Success With Powerful Project Reporting Software.
    (2023, October 8). Retrieved from wrike: https://www.wrike.com/use-cases/project-reporting/
</p>
<p id="citation-wrik" class="citation-source">
    Tips for Improving Productivity With Employee Time Tracking Apps. (2023, October 7).
    Retrieved from wrike: https://www.wrike.com/blog/improving-productivity-with-employee-timetracking-apps/
</p>
<p id="citation-wri" class="citation-source">
    What is Cost Management in Project Management? (2023, October 6).
    Retrieved from wrike: https://www.wrike.com/project-management-guide/faq/what-is-cost-management-in-project-management/
</p>

